[Unit]
Description=Download packages with Powerpill daily

[Timer]
OnCalendar=*-*-* 8:00
Persistent=true
RandomizedDelaySec=30m

[Install]
WantedBy=timers.target
